.Rproj.user
.Rhistory
.RData
.Ruserdata
3-1/PSyD/Proyecto/ejemploPantallaInicial.jpeg
3-1/PSyD/Proyecto/ejemploPantallaOcupado.jpeg
3-1/PSyD/Proyecto/ejemploPantallaPago.jpeg
3-1/PSyD/Proyecto/ejemploPantallaSeleccion.jpeg
3-1/PSyD/Proyecto/ejemploTicket.jpeg
3-1/PSyD/Proyecto/leeme.pdf
3-1/PSyD/Proyecto/mirame.webm
3-1/PSyD/Proyecto/proyecto/.metadata/.lock
3-1/PSyD/Proyecto/proyecto/.metadata/.log
3-1/PSyD/Proyecto/proyecto/.metadata/.mylyn/repositories.xml.zip
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.core/.log
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.core/BSP.1431281988574.pdom
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.core/proyecto.1401818709615.pdom
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.make.core/.log
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.make.core/BSP.sc
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.make.core/proyecto.sc
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.ui/common.build.log
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.ui/lab1.build.log
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.cdt.ui/proyecto.build.log
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/21/80be4e7e9176001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/31/a075a7928976001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/6d/3068cdbc8976001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/7b/40b0c8ae9476001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/85/109aad549676001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/8a/10c899e69476001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/8f/306ebd808976001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/a9/20b59ef58d76001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/aa/9006b30f8a76001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/aa/a0787e178f76001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/b1/a0f023af8976001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/b3/10a094a68976001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/b3/a06173819276001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/bc/6096fb9e8976001f1102bbd364255fad
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.history/f8/f09982ff2177001f1de5a6a7e3502ffa
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.projects/BSP/.indexes/properties.index
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.projects/BSP/.markers
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.projects/proyecto/.indexes/history.index
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.projects/proyecto/.indexes/properties.index
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.root/32.tree
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-BSP.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-proyecto.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.embsysregview.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.debug.core/.launches/OpenOCD.launch
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.debug.core/.launches/proyecto.launch
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/6/23/refactorings.history
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/6/23/refactorings.index
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/5/19/refactorings.history
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/5/19/refactorings.index
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2023/6/26/refactorings.history
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2023/6/26/refactorings.index
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/BSP/2015/5/19/refactorings.history
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/BSP/2015/5/19/refactorings.index
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.rse.core/.log
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pto0807_112/FP.local.files_0/node.properties
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pto0807_112/H.local_16/node.properties
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pto0807_112/node.properties
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.rse.ui/.log
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.search/dialog_settings.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.team.ui/syncParticipants.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
3-1/PSyD/Proyecto/proyecto/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
3-1/PSyD/Proyecto/proyecto/.metadata/version.ini
3-1/PSyD/Proyecto/proyecto/BSP/.cproject
3-1/PSyD/Proyecto/proyecto/BSP/.project
3-1/PSyD/Proyecto/proyecto/BSP/Debug/include/subdir.mk
3-1/PSyD/Proyecto/proyecto/BSP/Debug/libBSP.a
3-1/PSyD/Proyecto/proyecto/BSP/Debug/makefile
3-1/PSyD/Proyecto/proyecto/BSP/Debug/objects.mk
3-1/PSyD/Proyecto/proyecto/BSP/Debug/sources.mk
3-1/PSyD/Proyecto/proyecto/BSP/include/adc.h
3-1/PSyD/Proyecto/proyecto/BSP/include/at24c04.h
3-1/PSyD/Proyecto/proyecto/BSP/include/common_types.h
3-1/PSyD/Proyecto/proyecto/BSP/include/dma.h
3-1/PSyD/Proyecto/proyecto/BSP/include/fix_types.h
3-1/PSyD/Proyecto/proyecto/BSP/include/iic.h
3-1/PSyD/Proyecto/proyecto/BSP/include/iis.h
3-1/PSyD/Proyecto/proyecto/BSP/include/keypad.h
3-1/PSyD/Proyecto/proyecto/BSP/include/l3.h
3-1/PSyD/Proyecto/proyecto/BSP/include/lcd.h
3-1/PSyD/Proyecto/proyecto/BSP/include/leds.h
3-1/PSyD/Proyecto/proyecto/BSP/include/pbs.h
3-1/PSyD/Proyecto/proyecto/BSP/include/rtc.h
3-1/PSyD/Proyecto/proyecto/BSP/include/s3c44b0x.asm
3-1/PSyD/Proyecto/proyecto/BSP/include/s3c44b0x.h
3-1/PSyD/Proyecto/proyecto/BSP/include/s3cev40.asm
3-1/PSyD/Proyecto/proyecto/BSP/include/s3cev40.h
3-1/PSyD/Proyecto/proyecto/BSP/include/segs.h
3-1/PSyD/Proyecto/proyecto/BSP/include/system.h
3-1/PSyD/Proyecto/proyecto/BSP/include/timers.h
3-1/PSyD/Proyecto/proyecto/BSP/include/ts.h
3-1/PSyD/Proyecto/proyecto/BSP/include/uart.h
3-1/PSyD/Proyecto/proyecto/BSP/include/uda1341ts.h
3-1/PSyD/Proyecto/proyecto/proyecto/.cproject
3-1/PSyD/Proyecto/proyecto/proyecto/.project
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/kernelcoop.d
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/kernelcoop.o
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/kernelcoop.o.lst
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/makefile
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/objects.mk
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/proyecto.d
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/proyecto.elf
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/proyecto.hex
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/proyecto.lst
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/proyecto.map
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/proyecto.o
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/proyecto.o.lst
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/sources.mk
3-1/PSyD/Proyecto/proyecto/proyecto/Debug/subdir.mk
3-1/PSyD/Proyecto/proyecto/proyecto/kernelcoop.c
3-1/PSyD/Proyecto/proyecto/proyecto/kernelcoop.h
3-1/PSyD/Proyecto/proyecto/proyecto/proyecto.c
3-1/PSyD/Proyecto/proyecto/proyecto/proyecto.ld
3-1/PSyD/Proyecto/proyecto/RemoteSystemsTempFiles/.project
